
/******** STYLE *******/
body {
  width:100%;
  height:100vh;
  font-family: Cabin, sans-serif;
  /* font-family: 'PT Serif', serif; */
  margin: 0;
  padding:0;
  background-color: white;
}

p {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 16px;                             /* was 15px */
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 2em;
}

h2{
  margin-bottom: 70px;
  font-size: 40px;  
}

h3{
  font-size: 38px;
  font-weight: 100;
}

h4{
   font-size: 26px;   
}

h5{
   font-size: 20px;   
}

h6{
  font-size: 16px;  
}

#work, #about, #contact  {
  padding: 100px 0;
}
@media (max-width: 1010px) {    
  #work, #about, #contact   {
      padding: 70px 0;
  }
}
@media (max-width: 640px){    /* galaxy phones are max height of 640 should user flip device. ipads are min 768 */
  #work, #about, #contact   {
      padding: 50px 0;
  }
}


@media (max-width: 1010px) {
  h2 {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 50px;
  }
}
@media (max-width: 640px) {
  h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px;
  }
}

@media (max-width: 1010px){
  h3 {
      font-size: 26px;
      line-height: 30px;
  }
}
@media (max-width: 640px) {
  h3 {
      font-size: 20px;
      line-height: 26px;
  }
}


@media (max-width: 1010px) {
  p {
      font-size: 14px;
      line-height: 20px;
  }
}

.page-width {
  max-width: 1200px;   /*min-device-width for laptop screens. don't want it to spread too wide */
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 640px){   /* galaxy phones are max height of 640 should user flip device. ipads are min 768 */
  .page-width {
      padding: 0 20px;
  }
}



/********  NAVIGATION *******/

.navbar {
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 70px;
  transition: all .5s ease; 
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;

  /* position: relative;
  z-index: -1; */
}
@media (max-width: 1004px) {
  .navbar {
    padding: 10px 35px;
  }
}
@media (max-width: 640px) {
  .navbar {
    padding: 10px 25px;
  }
}

.navbar-border {
  border-bottom: 1px solid#F7F5F3;
}

.white-background{
  background-color: white;
}

.navbar-brand, .navbar-right a{
  color: white;
}

#myNavbar a:visited, #myNavbar a:link {
  background-color: transparent;
}

#myNavbar a:hover {
 background-color: transparent;
 text-decoration: underline;
}

.navbar:hover {           /*  had this commented out for some reason */
  color: white;
}

.navbar-nav .divider a{
  border-left: solid;
  border-bottom: none;
  margin-top: 10px;
  margin-right: -60px;
  margin-left: 15px;
  width: 80px;
}
@media (max-width: 640px) {
  .navbar-nav {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) { 
  .navbar-nav .divider a{
  border-left: none;
  border-bottom: solid;
  margin-top: -10px;
  }
}

.navbar-nav .divider a:hover{
  text-decoration: none !important;
}

.active{
  text-decoration: underline;
}

.navbar-brand{
  font-size: 25px;
}

.icon-bar{
  background-color: white;
}

.logo-white, .logo-purple {
  text-align: center;
}

#logo-white {
  max-width: 90px;
}

#logo-black {
  max-width: 50px;
}

.black-fill {
  color: rgb(0, 0, 0) !important;
  fill: rgb(0, 0, 0) !important;
}

.black-background {
  background-color: rgb(0, 0, 0)  !important;
} 	


/******** COVER *******/


/* #cover */
.nothing {
  width: 100%;
  height: 100vh;
  
  /* background-image: url(../images/mountains.jpg);  */

  overflow: hidden;
  background-color: white;
  position:relative;
  animation-duration: 3s;                         
  -webkit-animation-duration: 3s; 
  
  background-position: center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when 
  the content height is greater than the image height */
  background-attachment: fixed;
  /* makes the background image rescale based on its container's size */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  overflow: hidden;                                 /* parallax */
 }
 @media only screen and (max-width: 767px) { 
  #cover{
    background-attachment: scroll;
  } 
}

.center{
  margin: 0;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#cover-name{
  font-size: 50px;                  
  /* font-weight:700; */
}
@media only screen and (max-width: 550px) {
  #cover-name{
   font-size: 80px;
  }
}

.overlay{
  background: rgb(150, 0, 137);
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: thin;
  top: 0;
  left: 0;
  opacity: 0.25;
  width: 100%;
  height: 100%;
}

.arrow{
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease; 
  animation-delay: 0.5s;                    
  -webkit-animation-delay: 0.5s;
}

.arrow .btn{
  color: white;
  font-size: 35px;
  padding: 0;
  width: 100%;
}

.arrow:hover .btn{
  transform: scale(1.20); 
}


/* ********* PARALLAX LAYERS ********* */

.module__white-bg {
  background-color: #fff;
}

.white {
  color: white;
}

#hero {
  height: 100vh;  /* try 800px */
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px; 
  position: fixed;
  z-index: -1;
}

#hero, .layer {
  /* min-height: 800px; */
  height: 100vh;
}


.layer-bg {
  background: url(../images/mountains4.jpg);

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
 }
 @media only screen and (max-width: 767px) { 
  #cover{
    background-attachment: scroll;
  }
}

.layer-1 {
  background: url(../images/mountains3.png);
  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
 }
 @media only screen and (max-width: 767px) { 
  #cover{
    background-attachment: scroll;
  }
}

.layer-2 {
  background-image: url(../images/mountains2.png);
  
  /* background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
 }
 @media only screen and (max-width: 767px) { 
  #cover{
    background-attachment: scroll;
  } */
}

.layer-3 {
  background-image: url(../images/mountains1.png);
  
  /* background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
 }
 @media only screen and (max-width: 767px) { 
  #cover{
    background-attachment: scroll;
  } */
}

.layer-4 {
  background-image: url(../images/balloonBG5.png);
  
  /* background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
 }
 @media only screen and (max-width: 767px) { 
  #cover{
    background-attachment: scroll;
  } */
}

/* .layer-overlay {
  background-color: rgba(21, 43, 57, 0.5);
} */

.portfolioBtnLarge {
  margin: 10px 0;
  max-width: 320px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.6);
}

.heroParalax div {
  font-size: 140px;
  }

.heroParalax  h1 {
  font-size: 130px;
  font-weight: 400;
  text-shadow: 0px 0px 20px rgba(0,0,0,.85);
  margin-top: 250px;
  font-weight: 700;
  }

.accessSectionSpacer {
  padding-top: 50px;
  padding-bottom: 50px;
}

#accessMedikitBtn {
  cursor: pointer !important;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* ********* end PARALLAX ********* */



/* ********* TITLE ********* */

div .name {
  max-width: 38vw;
  display: inline-block;
  position: relative;
  margin: 0 20px;
  float: center;
  opacity: 0.0;
  animation: port 2s 1 forwards;
  -webkit-animation: port 2s 1 forwards;
}
@media (max-width: 640px) {
  div .name {
    max-width: 80vw;
  }
}

div .name:nth-of-type(2){
  animation-delay: 0.15s;
  -webkit-animation-delay: 0.1s;
}

div .name:nth-of-type(3){
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.2s;
}

@media (max-width:640px) {
  div .name {
    max-width: 80vw;
  }
}
@media (max-width:1010px) {
  div .name {
    max-width: 60vw;
  }
}

@keyframes port {
  0%{
    transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@-webkit-keyframes port {
  0%{
   -webkit-transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@keyframes reset {
  0%{}
  100%{}
}

@-webkit-keyframes reset {
  0%{}
  100%{}
}



/******* CLIENT WORK *******/

#work {
  background-color: white;
}

.client-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 80px;
}
@media (max-width: 1010px){
  .client-container {
      gap: 40px 30px;
  }
}
@media (max-width: 640px){
  .client-container {
      grid-template-columns: 1fr;
      gap: 30px;
  }
}

.client-item {
  padding-bottom: 20px;
}

.project-container {
  padding: 25px;
  border-radius: 5px 5px;
}
@media (max-width: 640px) {
    .project-container {
      padding: 15px;
  }
}

.project-title h4 {
  padding-top: 15px;
  color: black;
}
@media (max-width: 640px) {
  .project-title h4 {
    padding-top: 5px;
  }
}

.project {
  box-shadow: 1px 5px 12px 1px rgba(0,0,0,.3);
  position: relative;
}

.project-img {
  max-width: 100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-brand-container {
  max-width: 50%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden;
}

.project-brand {
  max-width: 100%;
  backface-visibility: hidden;
}

.project:hover  .project-brand-container {
  opacity:1;
}

.project:hover .project-img {
  opacity: .1;
}


/******* end CLIENT WORK *******/



/******** ABOUT ME *******/
#about {
  background-color: #F7F5F3;
}

/* .about-container-text {
  padding: 25px 0;
}
@media (max-width: 640px) {
    .about-container-text {
      padding: 15px 0;
  }
} */

.about-img-padding {
 padding: 0 50px;
}
@media (max-width: 1010px) {
  .about-img-padding {
    padding: 0;
   }
}

.about-img {
  max-width: 100%;
}

/* h4 .about-container-text {
  margin-top: 0;
} */

/******** CONTACT  *******/

#contact {
  background-color: white;
}

#contact a:visited {
  color: white;
  background-color: white;
}

#contact a:link {
  color: white;
}

.btn-social-icon{
  font-size: 30px;
}



/******** FOOTER *******/

footer {
  font-size: 16px;
  width:100%;
  /* height:120px; */
  padding-top: 60px;                       
  padding-bottom: 50px; 
  /* position: absolute; */                /* this pops the footer up when if the container-fluid div is removed */
  text-align: center;
  bottom:0;
  left:0;
  background-color: #F7F5F3;   
  color: black;
}

footer > .footer-1   {
  max-width: 200px;
}

footer > .footer-2 {
  max-width: 120px;
}

hr {
  height: 5px;
  width: 120px;
  border-top: 4px double black;
  overflow: visible;
}

hr:after {
  content: 'ยง';
  font-weight: bold;
  padding: 0 4px;         /*30% doesn't shorten line */
  position: relative;
  top: -13px;
  }

/**** end FOOTER ****/


